.jumbotron{
    background-image: url(/event-landing-page/img/Pokeballwallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}
footer p{
    margin: 0%;
}